@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
:root {
    --main-color: #e1af30;
    --second-color: #edb933;
    --text-color: #fff;
    --gradient: linear-gradient(#edb933,#edb933);
}
/*Custom Scroll Bar*/
html::-webkit-scrollbar{
    width: 0.5rem;
    height: auto;
}
html::-webkit-scrollbar-thumb{
    background: transparent;
}
html::-webkit-scrollbar-track{
    background: var(--main-color);
    border-radius: 5rem;
}
section {
    padding: 50px 100px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1e1e1f;
    padding: 10px 100px;
    border-bottom: 1px solid silver;
}
.logo img {
    width: 70px;
    height: 60px;
}
.navbar{
    display: flex;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.navbar a::after{
    content: "";
    width: 0;
    height: 3px;
    background: var(--gradient);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}
.navbar a:hover::after{
    width: 100%;
}
#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.header-btn a{
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}

.header-btn .sign-in{
    background: #474fa0;
    color: #fff;
    border-radius: 0.5rem;
}
.header-btn .sign-in:hover{
    background: var(--main-color);
}
.home{
    width: 100%;
    min-height: 50vh;
    position: relative;
    background-color: rgb(107, 102, 102);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
}
.text span{
    color:#fe5b3d  ;
}
.form-container form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    position: center;
    bottom: 10rem;
    left: 30%;
    padding: 20px;
    border-radius: .5rem;
    background: white;
}
.input-box{
    flex: 1 1 7rem;
    display: flex;
    flex-direction: column;
}
.input-box span{
    font-weight: 500;
}
.input-box input{
    padding: 7px;
    outline: black;
    border: none;
    background: whitesmoke;
    border-radius :0.5rem;
    font-size: 1rem;
}
.form-container form .btn{
    flex: 1 1 7rem;
    padding: 10px 34px;
    border: black;
    border-radius: .5rem;
    background: #474fa0;
    color: #fff;
    font-size: 1rem;
}
.form-container form .btn:hover{
    background-color: #fe5b3d;
}
.heading{
    text-align: center;
}
.heading span{
    font-weight: 500;
    text-transform: uppercase;
}
.heading h1{
    font-size: 2rem;
}
.ride-container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.ride-container .box{
    text-align: center;
    padding: 20px;
    border: black;
    border-radius: .5rem;
}
.ride-container .box .img{
    font-size: 34px;
    padding: 10px;
    background: #eeeff1;
    border-radius: .5rem;
    color: #fe5b3d;
}
.ride-container .box h2{
    font-size: 1.3rem;
    font-weight: 500;
    margin: 1.4rem 0 0.5rem;
}
.ride-container .box .img:hover{
    background: orange;
    color: #fff;
}
.box{
    color: #444;
    font-size: 25px;
    font-weight: 600;
}
.box img{
    width: 75px;
    height: 50px;
}
.service-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.service-container .box{
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0,0,0,.1);
}
.service-container .box .box-img{
    width: 100%;
    height: 200px;
}
.service-container .box .box-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
.service-container .box p{
    padding: 0 10px;
    border: 1px solid black;
    width: 150px;
    border-radius: .5rem;
    margin: 1rem 0 1rem;
}
.service-container .box h3{
    font-weight: 500;
}
.service-container .box h2{
    font-size: 1.1rem;
    font-weight: 600;
    color: #fe5b3d;
    margin: 0.2rem 0 0.5rem;
}
.service-container .box h2 span{
    font-size: 0.8rem;
    font-weight: 500;
    color: #444;
}
.service-container .box .btn{
    display: flex;
    justify-content: center;
    background-color: #474fa0;
    color: #fff;
    padding: 10px;
    border-radius: .5rem;
}
.service-container .box .btn:hover{
    background-color: #fe5b3d;
}
.trip{
    width: 100%;
    min-height: 50vh;
    position: relative;
    background: url('Images/carBg5.jpg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 2px solid silver;
    border-top: 2px solid silver;
}
.Trip .form-container form{
   bottom: 7rem;
   left: 100px;
   padding: 20px;
}
.button{
    width: 100%;
    position: relative;
}
.button-contain button{
    width: 8%;
    padding: 6px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 40px;
    gap: 1rem;
    cursor: pointer;
    display: float;
   
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right,#1dde0f,  #10a7e2);
}
.button-contain button:hover{
    background-image: linear-gradient(to right,  #10a7e2, #1dde0f);
}

.button-contain button[type="back"]{
    float: left;
}

